<!-- <div class="">
  <div class="card calculator-card align-middle">
    <div class="card numbers-card">
      <div class="row justify-content-center text-center">
        <div class="col-sm-3 m-1" *ngFor="let button of buttons"  >
          <div class="">
            <button (click)="onBtnClick(button)" type="button" class="btn btn-dark">
              {{button}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<audio #ref src="../assets/audio/sabbas.mp3"></audio>
<!-- <button (click)="ref.play()">▶️ play</button> -->
<!-- <button (click)="ref.pause()">⏸ pause</button> -->

<div class="align-middle">
  
    <div class="card calculator-card p-2 pt-3">  
      <div class="card calDisplayPanel m-1 p-1">
        <div class="card calDisplay mx-4 p-1 px-2">
          <div class="upper-display">
            {{reference}}
          </div>
          <div class="lower-display">
            {{display}}
          </div>
      </div>
      </div>
      <div class="btnPanel">
        <div class="card numbers-card p-2 m-1">
          <div class="row justify-content-center text-center">
            <div class="col-sm-4 my-2" *ngFor="let numerical of numericals"  >
              <div class="">
                <button (click)="onNumClick(numerical)" type="button" class="btn btn-lg btn-dark btnNumber">
                  {{numerical}}
                </button>
              </div>
            </div>
            <!-- <button class="col-sm-3 mb-2">
              click 2
            </button> -->
          </div>
        </div>
        <div class="card operators-card p-2 m-1">
          <div class="row justify-content-center text-center">
            <div class="col-6 py-2" *ngFor="let operator of operators"  >
              <button (click)="onOpClick(operator)" type="button" class="btn btn-lg btn-dark btnOperators">
                {{operator}}
              </button>
              <!-- <div class="">
                <button (click)="onBtnClick(operator)" type="button" class="btn btn-lg btn-dark btnOperators">
                  {{operator}}
                </button>
              </div> -->
            </div>
          </div>
            <div class="row" style="height: -webkit-fill-available;">
              <div class="col-6 py-2" >
                <button (click)="onOpClick('+')" type="button" class="btn btn-lg btn-dark btnAddition">
                  +
                </button> 
              </div>
              <div class="col-6 py-2" >
                <button (click)="onOpClick('=');ref.play();" type="button" class="btn btn-lg btn-dark btnResult">
                  =
                </button>             
              </div>
            </div>
          <!-- </div> -->
        </div>
      </div>
    </div>
</div>